<div class="user-details">
  <h1>Hello World!</h1>
  <p align=justify> {{site.user_description}} </p>
</div>
<div class="user">
  <div class="tech">
    <h2>Languages</h2>
      <i class="devicon-python-plain-wordmark"></i>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-cplusplus-line-wordmark colored"></i>
      <p>Fluent in Python, C++, Java and many more Programming Languages</p>
    </div>
    <div class="tech">
      <h2>Technologies</h2>
      <i class="devicon-android-plain-wordmark colored"></i>
      <i class="devicon-html5-plain-wordmark colored"></i>
      <i class="devicon-mongodb-plain-wordmark colored"></i>
      <p>Developed multi-platform projects with the help of Android, HTML, Mongo and others.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-atom-original-wordmark"></i>
      <i class="devicon-linux-plain colored"></i>
      <i class="devicon-github-original-wordmark colored"></i>
      <p>Highly efficient and eloquent with atom, Git and Linux Environment.</p>
    </div>
</div>
