<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Application Screenshot" style = "position: relative; top: 50px;"src="{{ "/assets/img/doctor_on_the_go.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>DoctorOnTheGo  |  Android Application</h3>
    <p align=justify>This is a Doctor Patient Appointment Management Application, which intends to bridge the gap between patients & doctors. The application provides the functionality of letting patients book appointments with doctors and helping doctors to manage those patients’ medications & prescriptions, according to the timeline of the treatment.</p>
    <a class="project-link" href="https://github.com/architkaila/DoctorOnTheGoApp">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Home Automation" src="{{ "/assets/img/home_automation.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Home Automation  |  Raspberry Pi (IOT)</h3>
    <p align=justify>Putting together a few wires and parts such as Raspberry Pi, Relay, etc. I made a Home Automation system that can be controlled using a web interface or an Android App. Different Home Appliances or Electronic/Electrical devices running on 220 volts AC having wattage upto 2000 Watts can be automated using the system.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
